.main-title {
	font-size: 350%;
    color: teal;
}

.nav-icon {
    font-size: 200%;
}

.main-subhead {
    text-align: center;
}

.title-toolbar {
    margin-bottom: 20px;
}

.title-card {
    margin-bottom: 50px;
}

.md-headline {
    font-size: 200%;
    color: teal;
}

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}

md-row:hover{
    background-color: #f3f3f3;
}
