<div layout="column" flex>
    <md-card>
        <md-card-title>
            <h1>{{title}}</h1>
        </md-card-title>
        <md-card-content>
            <button md-icon-button [mdMenuTriggerFor]="appMenu">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #appMenu="mdMenu">
                <a md-menu-item *ngFor="let menuOption of menuOptions" routerLink="/{{menuOption.route}}">{{menuOption.name}}</a>
            </md-menu>
        </md-card-content>
    </md-card>
</div>

<router-outlet></router-outlet>