@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.nav-icon {
    font-size: 200%;
}

.main-subhead {
    text-align: center;
}

.md-headline {
    font-size: 200%;
    color: teal;
}

md-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 5px;
}
  
md-table {
    overflow: auto;
    max-height: 500px;
}

md-row:hover{
    background-color: #f3f3f3;
}