<section class="gpio-container" fxLayout="wrap">
    <div fxFlex.gt-lg="25" fxFlex.gt-md="10" fxFlex="0"></div>
    <div fxFlex>
        <section>
            <md-card>
                <md-card-header>
                    <md-card-title>
                        <p class="colour-primary">{{title}}</p>
                    </md-card-title>
                </md-card-header>
            </md-card>
        </section>

        <section class="gpio-filter mat-elevation-z2">
            <form>
                <md-form-field floatPlaceholder="always">
                    <input mdInput #filter placeholder="Filter schedules">
                </md-form-field>
            </form>
        </section>

        <section *ngIf="selectedPin" gpio-detail id="detail" fxLayout="wrap" class="mat-elevation-z2">
            <div fxFlex.gt-lg="25" fxFlex.gt-md="10" fxFlex="0"></div>
            <div fxFlex>
                <form [formGroup]="detailForm">
                    <md-form-field style="width: 100%">
                        <label>Pin: </label>
                        <input mdInput [(ngModel)]="selectedPin.pin" formControlName="pin" />
                        <md-error *ngIf="detailForm.controls['pin'].errors && detailForm.controls['pin'].errors.required && !detailForm.controls['pin'].pristine">
                            Pin is required
                        </md-error>
                        <md-error *ngIf="detailForm.controls['pin'].errors && detailForm.controls['pin'].errors.pattern && !detailForm.controls['pin'].pristine">
                            Pin must be no more than 2 digits
                        </md-error>
                    </md-form-field>
                    <p>
                        <md-form-field style="width: 100%">
                            <label>Assigned Schedule: </label>
                            <input mdInput [(ngModel)]="selectedPin.scheduleName" formControlName="schedule" />
                            <md-error *ngIf="detailForm.controls['schedule'].errors && !detailForm.controls['schedule'].pristine">
                                Schedule is required
                            </md-error>
                        </md-form-field>
                    </p>
                    <div style="text-align: center">
                        <button md-button (click)="unset()">Cancel</button>
                        <button md-button (click)="update()">Save</button>
                    </div>
                </form>
            </div>
            <div fxFlex.gt-lg="25" fxFlex.gt-md="10" fxFlex="0"></div>
        </section>

        <section class="gpio-table mat-elevation-z2">
            <md-table #table [dataSource]="dataSource" mdSort>
                <div layout="column">
                    <ng-container flex="25" mdColumnDef="pin">
                        <md-header-cell *mdHeaderCellDef> Pin </md-header-cell>
                        <md-cell *mdCellDef="let element"> {{element.pin}} </md-cell>
                    </ng-container>

                    <ng-container flex="50" mdColumnDef="scheduleName">
                        <md-header-cell *mdHeaderCellDef> Schedule Name </md-header-cell>
                        <md-cell *mdCellDef="let element"> {{element.scheduleName}} </md-cell>
                    </ng-container>

                    <ng-container flex="25" mdColumnDef="buttons">
                        <md-header-cell *mdHeaderCellDef> Options </md-header-cell>
                        <md-cell *mdCellDef="let element">
                            <button md-button pageScroll href="#detail" (click)="onSelect(element)">
                                <md-icon class="colour-primary">format_align_left</md-icon>
                            </button>
                            <button md-button (click)="openDeleteDialog(element)">
                                <md-icon class="colour-warn">delete_forever</md-icon>
                            </button>
                        </md-cell>
                    </ng-container>

                    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
                    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
                </div>
            </md-table>
            <!--<md-paginator [length]="dataSource.dataLength()" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></md-paginator>-->
        </section>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="10" fxFlex="0"></div>
</section>