<!--
<div id="search-component">
    <h4>Pin Search</h4>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
    <div>
        <div *ngFor="let pin of pinList | async" (click)="gotoDetail(hero)" class="search-result">
            {{pin.pin}} {{pin.scheduleName}}
        </div>
    </div>
</div>
-->
<div class="mat-elevation-z8">
    <md-table #table [dataSource]="dataSource">

        <div layout="column">
            <ng-container flex="33" mdColumnDef="pin">
                <md-header-cell *mdHeaderCellDef> Pin </md-header-cell>
                <md-cell *mdCellDef="let element"> {{element.pin}} </md-cell>
            </ng-container>

            <ng-container flex="66" mdColumnDef="scheduleName">
                <md-header-cell *mdHeaderCellDef> Schedule Name </md-header-cell>
                <md-cell *mdCellDef="let element"> {{element.scheduleName}} </md-cell>
            </ng-container>

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </div>
    </md-table>
</div>
<!--
<table>
    <thead>
        <tr>
            <td>Pin</td>
            <td>Schedule</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pin of pinList">
            <td>{{pin.pin}}</td>
            <td>{{pin.scheduleName}}</td>
        </tr>
    </tbody>
</table>-->