<!--
<div id="search-component">
    <h4>Pin Search</h4>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
    <div>
        <div *ngFor="let pin of pinList | async" (click)="gotoDetail(hero)" class="search-result">
            {{pin.pin}} {{pin.scheduleName}}
        </div>
    </div>
</div>
-->

<div fxLayout="row wrap">
    <div fxFlex="25%"></div>
    <div fxFlex="50%">
        <div class="gpio-filter mat-elevation-z8">
            <md-form-field floatPlaceholder="never">
                <input mdInput #filter placeholder="Filter schedules">
            </md-form-field>
        </div>

        <div class="gpio-container mat-elevation-z8">
            <md-table #table [dataSource]="dataSource" mdSort>
                <div layout="column">
                    <ng-container flex="33" mdColumnDef="pin">
                        <md-header-cell *mdHeaderCellDef> Pin </md-header-cell>
                        <md-cell *mdCellDef="let element"> {{element.pin}} </md-cell>
                    </ng-container>

                    <ng-container flex="66" mdColumnDef="scheduleName">
                        <md-header-cell *mdHeaderCellDef> Schedule Name </md-header-cell>
                        <md-cell *mdCellDef="let element"> {{element.scheduleName}} </md-cell>
                    </ng-container>

                    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
                    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
                </div>
            </md-table>
            <!--<md-paginator [length]="dataSource.dataLength()" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></md-paginator>-->
        </div>
    </div>
    <div fxFlex="25%"></div>
</div>